nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    margin-left: 300px;
    justify-content: space-between;
    

}
ul li{
    align-items: center;
    margin: 10px;
    padding: 10px;
}
li a{
 
    margin: 80px;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
}
.home{
    margin-right: 10px;
}
.carts{
    margin-right: 400px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 30%;
}
.btn{
    width: 50%;
    padding: 10px;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    background: #f8f8f8;
    padding: 10px;
    margin: 5px 0;
}
.cart-count {
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 14px;
    margin-left: 5px;
  }
  
