.g-container{
    padding: 1.5rem;
    width: 100%;

}
.inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1.5rem ;
    background: #4161df;
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid #5d77d6 ;
    text-align: center;
}
.primaryText{
    color: #1f3e72;
    font-weight: bold;
    font-size: 2rem;
}
.secondaryText{
    color: rgb(140, 139, 139);
    font-size: 0.9rem;
}
.inner-container .primaryText{
    color: white;
    font-weight: 600;
}
.inner-container .secondaryText{
    color: rgba(255, 255, 255, 0.587);
  
}
.button{
    
  margin: 40px;

  background-color: blue;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 0.6rem 1.4rem;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  
  transition: all 300ms ease-in;
  
  text-decoration: none;
  

}
.button:hover {
    cursor: pointer;
  transform:scale(1.1) ;
  }
  .button a{
    text-decoration: none;
    color: white;
  }
  .inner-container .button{
    background: #5a73d7;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow:0px 23px 21px -8px rgba(136,160,255,0.25) ;
  }