* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    font-weight: 600;
    transition: all.2s linear;
    text-decoration: none;
    border: none;
}
body{
    font-family: 'Poppins', sans-serif;
	font-size: 14px;
}




.sectioner-header {
	width: 90%;
}
.sectioner-header p {
	font-size: 14px;
}
.sectioner-header h3 {
	font-size: 28px;
    font-weight: 700;
}


.home {
    margin-top: 50px;
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.home .left {
    width: 65%;
}

.home .left h1 {
    font-size: 38px;
    color: #010f1c;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.home .left h1 span{
    color: #ea1f33;
    
}

.home .left button {
    background-color: #ea1f33;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    transition: 0.5s;
    margin-top:30px ;
    border-radius: 16px;
    transition: 0.5s;
    cursor: pointer;
}

.home .left button:hover {
    transform: scale(1.1);
    background-color: #000;
}

.home .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .right img {
    width: 30rem;
    height: 40rem;
    margin:     50px;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    outline: 6px solid  #ea1f33;
}
.stats{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
}
.stat{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.plus{
    color: #ea1f33;
}
.tt{
    color: rgb(140, 139, 139);
    font-size: 11px;
}


.product_type{
    padding: 0px 40px;
    width: 100%;
    /* background: #f2f5f9; */
}
.product_type .container{
    max-width: 100%;
    display: flex;;
    justify-content: center;
    flex-wrap: wrap;
}
.product_type .container .box{
    margin: 10px 25px;
}
.product_type .container .box .img_box
{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background: #e3edf6;
    overflow: hidden;
    cursor: pointer;
}
.product_type .container .box .img_box img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 32px;
    margin-top: 10px;
    margin-left: 10px;
    transition: 0.5s;
}
.product_type .container .box:hover .img_box img{
    transform: scale(1.4);
}
.product_type .container .box .detail{
    max-width: 100%;
    text-align: center;
    align-items: center;
}

.product_type .container .box .detail p {
    margin-top: 10px;
    color: #9a9a9a;
    transition: 0.5s;
}
.product_type .container .box:hover .detail p{
    transform: scale(1.3);
    color: #ea1f33;
}
.about {
  padding: 80px 60px;
  width: 100%;
  background: #fff;
  text-align: center;
}

.about .sectioner-header {
  width: 70%;
  margin: 0 auto 60px;
}

.about .sectioner-header h3 {
  font-size: 36px;
  font-weight: 700;
  color: #010f1c;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.about .sectioner-header p {
  color: #818992;
  font-size: 16px;
  line-height: 1.6;
  width: 90%;
  margin: 0 auto;
}

.about .container {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  justify-content: center;
  align-items: start;
}

.about .container .icon-box {
  background: #f6f8fa;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.about .container .icon-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.about .container .icon-box i {
  font-size: 45px;
  color: #ea1f33;
  margin-bottom: 15px;
}

.about .container .icon-box h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #010f1c;
}

.about .container .icon-box p {
  font-size: 14px;
  color: #5a5a5a;
  line-height: 1.6;
}

/* Responsive */


.prelative {
	position:relative
}
.section-padding {
	padding:80px 0px;
}
.sectioner-header {
	width:69%;
	margin:0 auto;
}
.line {
	height: 2px;
	width: 50px;
	background: #ea1f33;
	display: block;
	margin: 20px auto 20px;
}
.line::after {
	content:"";
	position: absolute;
	left: 50%;
	width: 150px;
	height: 2px;
	border-bottom: 2px dashed #ea1f33;
	margin-left: -75px;
}
.sectioner-header p {
	color:#818992;
	font-size: 17px;
}
.section-content {
	margin-top: 80px;
}
.icon-box {
	margin-bottom:50px;
}
.icon-box i {
	display: block;
	position: relative;
	width: 135px;
	height: 135px;
	border-radius: 100px;
	background: #ea1f33;
	background: linear-gradient(to left, #ea1f33, #ffb199);
	color: #ffffff;
	font-size: 50px;
	line-height: 135px;
	margin: 0 auto;
}
.icon-box h5 {
	margin-top:30px;
}
.icon-box p {
	color: #818992;
	font-size: 14px;
	width: 80%;
	margin: 0 auto;
}
.about-btn {
	color: #ea1f33;
	padding: 10px 40px;
	border: 2px solid #ea1f33;
	border-radius: 7px;
	margin-top: 30px;
	display: inline-block;
	font-size: 18px;
}
.about-btn:hover {
	background:#ea1f33;
	color:#ffffff;
	text-decoration:none;
}

.single-feature {
	margin-bottom: 80px;
	margin-top: 40px;
}
.single-feature h5 {
	font-size: 16px;
    font-weight: 600;
}
.media-right-margin {
	margin-right:25px;
}
.single-feature p {
	font-size: 13px;
    font-weight: 400;
    color: #212529
    ;
}
.icon-border {
}
.icon-border span {
	display: block;
	position: relative;

	width: 50px;
	height: 50px;
	border-radius: 100px;
	color: #ea1f33;
	font-size: 18px;
	line-height: 50px;
	border: 1px solid #ea1f33;
}


.h-house{
    padding: 30px 40px;
    /* width: 100%; */
    /* background: #000; */
}
.h-house h2{
    font-size: 32px;
    color: #010f1c;
    margin-bottom: 20px;
}
.h-house .container{
    display: grid;
    column-gap: 25px;
    grid-template-columns: auto auto auto auto;
    justify-content:center; 
}
.h-house .container .box {
    overflow: hidden;
    width: 280px;
    height: 380px;
    border: 0px solid #e2e0e0;
    transition: 0.5s;
    cursor: pointer;
}
.h-house .container .box:hover{
    transform: scale(1.05);
}
.h-house .container .box .img_box img{
    width: 100%;
    height: 270px;
    border-radius: 10px;

}
.h-house .container .box .img_box .icon{
    position: relative;
    left: 88%;
    top: -260px;
    transition: 0.5s;
}
.h-house .container .box .img_box .icon li{
    list-style: none;
    color: #010f1cca;
    cursor: pointer;
    font-size: 22px;
    
}
.h-house .container .box .img_box .icon li:hover{
    color: #ea1f33;

}
.h-house .container .box .detail {
    margin-top: -20px;
    display: flex;
    justify-content: space-between;

}
.h-house .container .box .detail .rv>*{
    font-size: 15px;
    color: #ea1f33;
    display: inline-block;
    margin: 1px;
    vertical-align: middle;
}
.h-house .container .box .detail .rv span{
    font-size: 13px;
    font-weight: 400;
    color: #000;
}

.h-house .container .box .detail p{
    color: #9a9a9a;
    font-size: 11px;
    margin: 0;
}
.h-house .container .box .detail h5{
    font-size: 13px;
    font-weight:600;
    width: 220px;
}
.h-house .container .box .detail a {
    margin: 0;
}
.h-house .container .box .detail a span{
    color: #010f1c;
    font-size: 13px;
    letter-spacing: 1px;
}
.h-house .container .box:hover .detail a span{
    color: #ea1f33;
}
.h-house .container .box .detail a{
    color: #686868;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;

}
.banner{
    padding: 60px 90px;
    width: 100%;
    background: #f2f5f9;
}
.banner .container{
    /* padding: 30px 40px; */
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.banner .container .detail{
    margin-top: 8%;
    margin-right: 6em;
}
.banner .container .detail h4{
    color: #9a9a9a;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 25px;

}
.banner .container .detail h3{
    /* margin-top: 10px; */
    font-size: 35px;
    /* margin-right: 10%; */
    letter-spacing: 1px;
    color: #010f1c;
}
.banner .container .detail .link{
    padding: 10px 30px;
    color: #f1f1f1;
    font-size: 12px;
    background: #ea1f33;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}
.banner .container .detail .link:hover{
    color: #f1f1f1;
    background: #010f1c;
}
.banner .container .img_box img{
    height: 100%;
    border-radius: 10px;
    width: 550px;
}











@media only screen and (max-width: 768px) {
    .home {
        flex-direction: column;
        padding: 0 5%;
    }

    .home .left,
    .home .right {
        width: 100%;
        text-align: center;
    }


    .home .right img {
        width: 100%;   
    }

    .stats {
        width: 100%;
    }
    .product_type {
        padding: 0px 20px; 
    }
    
    .product_type .container .box {
        margin: 10px 10px;
    }
    
        .about {
        padding: 40px 20px; 
    }

    .about .container .box {
        width: 100%; 
        max-width: 300px;
    }
    .about .container .box .detail p{
        font-size: 12px;
    }
    .about .container .box .detail h3{
        font-size: 15px;
    }
    
    .home_detail{
        width: 100%;
        height: 100%;

        position: fixed;
        z-index: 1;
        
    }
    .home_detail .container{
        padding: 0px 30px;
        margin: 5% auto;
        width: 300px;
        height: 580px;
        background: #fff;
        border-radius: 10px;
        box-shadow: rgba(0, 0,0,0.24) 0px 3px 8px;
    }
    .home_detail .container .closebtn{
        margin-top: 10px;
        margin-bottom: 0;
    }
    .home_detail .container .productbox{
        display: block;
    }
    .home_detail .container .productbox .img_box{
        width: 250px;
        height: 190px;
        

    }
    .home_detail .container .productbox .detail{
        
        width: 250px;
        /* min-width: 290px; */
        margin: 0px;
    }
    .home_detail .container .productbox .detail h2{
        font-size: 12px;
    }
    .home_detail .container .productbox .detail .btns{
        display: flex;
        justify-content: space-around;
    }
    .home_detail .container .productbox .detail button{
        padding: 8px 25px;
        font-size: 10px;
    }
    .home_detail .container .productbox .detail .thumb {
        width: 100%;
        /* background: #000; */
        height: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        cursor: pointer;
        margin-bottom: 50px;

    }
    .home_detail .container .productbox .detail .thumb img{
        width: 50px;
        height: 100%;
        display: flex;
        object-fit: cover;
        border: 1px solid #ddd;
        margin-right: 5px;
        opacity: 0.7;
        border-radius: 5px;
    }
    .h-house .container .detail{
        text-align: center;
    }
    
        .banner {
            padding: 40px 20px; /* Adjust padding for smaller screens */
        }
        .banner .container{
            display: block;
        }
        .banner .container .img_box{
            width: 335px;
        }
        
        .banner .container .img_box img{
            width: 100%;
            object-fit: cover;
        }
        .banner .container .detail  {
            width: 335px;
            height: 150px;
            text-align: center;
        }
        .banner .container .detail h3{
            font-size: 23px;
            text-transform: capitalize;
        }
        
    
    
}
