.v-container{
    padding: 1.5;
    width: 100%;
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.image-container{
    width: 30rem;
    height: 35rem;
    margin:     50px;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(255, 255, 255, 0.12);
}
.v-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.v-container .image-container{
    border: 8px solid rgb(232 232 232 /93%);
}
.v-container>div{
    flex: 1;
}
.v-right{
    gap: 0.5rem; ;
}
.orangeText{
color: orange;
font-size: 1.5rem;
font-weight: 600;
}
.primaryText{
    color: #1f3e72;
    font-weight: bold;
    font-size: 2rem;
}
.secondaryText{
    color: rgb(140, 139, 139);
    font-size: 0.9rem;
}
.icon{
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.accordion{
   margin-top: 2rem;
   border: none;
}
.accordionItem{
    background: white;
    border:0.8px solid rgba(128, 128, 128, 0.143) ;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}
.accordionButton{
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;

}
.icon{
    padding: 10px;
    background: #eeeeff;
    border-radius: 5px;

}
.icon svg{
    fill: blue;
}
.accordionButton.primaryText{
font-size: 1.1rem;
}
@media (max-width:1024px) {
    .v-container{
        flex-direction: column;
    
    }
    @media (max-width:768px) {
        .accordionButton .primaryText{
            font-size: 0.8rem;
        }
    }
    
}